* {
    font-family: 'Inconsolata', monospace;
    color: #333333;
}

body {
    background-image: url("art.jpg");
    background-size: cover;
	padding: 5vh 10vw;
}

.heading {
	text-align: center;
}
.heading h2 {
	font-size: 4rem;
	margin: 0;
	font-weight: lighter;
}

.projects {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.project-card {
	background-color: #f8f8f8;
	height: 45vh;
	width: 25vw;
	padding: 0 2vw;
	border-radius: 5px;
	margin: auto auto;
	transition: 0.3s;
	margin: 1rem;
	overflow: scroll;
}
.project-card:hover {
	box-shadow: 0 0 16px rgba(34, 39, 37, 0.3);
}
.project-card .name {
	font-size: 2rem;
	text-align: center;
	font-weight: lighter;
}
.project-card .project-footer {
	display: flex;
	justify-content: space-between;
	margin: 1vh 5vw;
}
.project-card .project-footer a {
	text-decoration: none;
}
.project-card .project-footer a:hover {
	text-decoration: underline;
}